<div ng-init="loadAlerts()">
	<h2>Generated Alerts based on Twitter Analysis</h2>
	<div class="row">
		<div class="col-xs-4"><h3>Creation time</h3></div>
		<div class="col-xs-4"><h3>Alert name</h3></div>
		<div class="col-xs-2"><h3>Increase (Percentage)</h3></div>
		<div class="col-xs-2"><h3>Increase (Frequency)</h3></div>
	</div>
	<div class="row" ng-repeat="alert in alertList | orderBy: '-created'">
		<div class="col-xs-4">{{alert.created}}</div>
		<div class="col-xs-4">{{alert.name}}</div>
		<div class="col-xs-2">{{alert.to/alert.from * 100 | number:0}}%</div>
		<div class="col-xs-2">{{alert.from  | number:0}} - {{alert.to  | number:0}}</div>
	</div>
</div>