
<div class="main">
	<div class="title">
		<h1>Ubicity Showcases</h1>
	</div>
	<div>
		<h2>Intention & Motiviation</h2>
		<p class="enumeration">
			This demonstrator shows how social media indexing can deliver new knowledge. Ubicity has indexed hundreds of millions of geo-referenced tweets, which you can search by typing
			one or more search terms in the search box. Any results will be shown on their location of origin -or in their region of origin - on the map. When not zoomed in, only result
			counts will appear, attached to a geographic bounding box. Zooming in will show ever more detailed counts, until individual tweets are shown.<br /> The amount of tweets per
			time is depicted on a timeline diagram. Zooming in and out of this diagram using the mouse wheel will scale the timeline to days, half days, 6-hour and 3-hour intervals. The
			timeline can be shifted into the past by dragging on the diagram using the left mouse button.<br /> A Wikipedia dump has also been indexed by Ubicity. Pages containing the
			search term in the page title are displayed in a circle graph together with the titles of Wikipedia pages linked from these. Selecting any node in the circle graph will set the
			search term to the node text and a new query will be performed.<br /> Finally, Flickr images which are tagged with the search term are indexed on demand and shown as a slide
			show on the screen. <br />
		</p>

		<h2>Disclaimer</h2>
		<p class="enumeration">
			Ubicity is the intellectual property of <A href="http://www.ait.ac.at/cdm" target="_blank">AIT Austrian Institute of Technology GmbH</A>, and free software: you can redistribute
			it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option)
			any later version. The source code of this program is online available <A href="https://github.com/ubicity-devs/" target="_blank">Github</A>, and builds upon <A
				href="https://www.elastic.co/" target="_blank">Elasticsearch</A> and <A href="http://lucene.apache.org/" target="_blank">Apache Lucene</A>. <br /> The Twitter data you see
			here have been obtained and indexed under the <A href="https://dev.twitter.com/terms/api-terms/diff" target="_blank">Twitter API license</A> for visualization purposes only. The
			Flickr images have been obtained and indexed under the <A href="http://www.flickr.com/services/api/tos/" target="_blank">Flickr API license</A> for visualization purposes only.
			Furthermore, all Wikipedia content is protected by the <A href="http://en.wikipedia.org/wiki/Wikipedia:Copyrights" target="_blank">Wikipedia copyrights</A> This means that you
			may not redistribute or store these data without the prior, written consent any involved parties. <br /> <br /> This portal with all demo showcases is demonstrated in the hope
			it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
		</p>

		<h2>Contact</h2>
		<p class="enumeration">Christoph Ruggenthaler [christoph.ruggenthaler (at) ait.ac.at]</p>
	</div>
	<div class="centered-text">
		<a ui-sref="home"><img class="logo" src="assets/ubicity_logo_small.png" height="80px" alt="Ubicity Logo" /></a>
		<span class="mobile-hide" style="padding-left:100px;">&nbsp;</span>
		<a href="http://www.ait.ac.at/cdm/" target="_ait"><img class="logo" src="assets/ait_small.png" height="80px" alt="AIT Logo" /></a>
	</div>
</div>