<div class="main">
	<div>
		<h2>Publications</h2>
		<span class="enumeration">"UBICITY - CONQUERING CRISIS AND DISASTER MANAGEMENT CHALLENGES WITH BIG DATA ANALYTICS", Pielorz J., Future Security, 2015 (Unpublished)<span>
		<br/>
		<a class="btn" href="http://link.springer.com/chapter/10.1007%2F978-3-319-15994-2_53" target="_blank">"On the Volume of Geo-referenced Tweets and Their Relationship to Events Relevant for Migration Tracking", Neubauer G. et al., Environmental Software Systems, 2015</a> 
	</div>
	<div>
		<h2>Resources</h2>
		<a class="btn" href="resources/Datasheet_UBICITY_EN_V01.pdf">Datasheet (EN)</a> 
		<br /> 
		<a class="btn" href="resources/Datasheet_UBICITY_DE_V01.pdf">Datasheet (DE)</a>
		<br /> 
		<a class="btn" href="https://github.com/ubicity-devs" target="_blank">GitHub - Source Code repository</a>
	</div>
		<div>
		<h2>Contributors</h2>
		<span class="enumeration">Christoph Ruggenthaler</span><br /> 
		<span class="enumeration">Hermann Huber</span><br /> 
		<span class="enumeration">Maria Egly</span><br /> 
		<span class="enumeration" style="color:grey">Jan van Oort</span><br /> 
	</div>
</div>